html
    head 
        title Thala  
    body 
        h1 Heading 
        //1
        h1 LJU 
        //2
        h1(style="color red") lets loan 
        //3
        p(style="font-size:25px")
            i italic para 
                b(style="color:blue") bold italic para 
            b bold para
        //4     
        p 
            | This file will not be 
            | render properly if the
            | programmer does not make 
            | sure of proper indentation.
        //5
        ul 
            li Mango 
            li Watermelon 
        //6
        ol(type="A")
            li January 
            li February 
        //7 Attributes Spanning Over Multiple lines.
        a(href="/" target="_blank" style="color:purple;font-size:20px") about 
        //8 Multiple attributes separated by comma
        table(border="2px solid",style="color:red")
            tr
                th name 
                th id
            tr 
                td abc 
                td 1
        //9 unbuffered code
        -var number=2
        -var color="Black"
        -var list=["India","USA","UK"]
        //10 Buffered Code
        h4="3 times a number is: "+number*3
        h3="I Like: "+color +" color"
        h3="Country: "+list[2]
        // This is Buffered Comment
        //- This is unbuffered comment. It does not appear in rendered HTML file
        //
            This is a 
            Multiline
            Comment
                









            






