html(lang="en")
head
title Pug Form
body
.form
h2 Form
form(action="/data",method="get")
div
label Enter Your Name
input(type="text", name="name")
div
label Enter Your Email
input(type="email", name="email")
div
input(type="submit",value="Submit")