html
    body 
        form(action="/data",method="post")
            fieldset
                legend Form
                label Name 
                input(type="text",name="dname")
                br
                br
                label Email
                input(type="email",name="email")
                br
                br
                label course
                input(type="radio",name="course",value="IT")
                | IT 
                input(type="radio",name="course",value="CE") 
                | CE
                br
                br
                input(type="submit" value="submit")
    

            
